# Build output
/bin/
/build/
/archives/

# Gradle files
.gradle

# Gradle properties
gradle.properties

# Visual Studio Code
.settings
.vscode

# Native Libraries
*.a
*.o
*.so
*.dll
*.lib
*.dylib

# Archives
*.zip
*.tar.gz

# VM Crash Logs
hs_err_pid*.log

# Debug test file
/src/test/java/DebugTests.java
