# Build output
/bin/
/build/
/output/

# Gradle files
.gradle

# Visual studio code
.settings
.vscode

# Native Libraries
*.a
*.o
*.so
*.dll
*.lib
*.dylib

# Archives
*.zip
*.tar.gz

# VM Crash Logs
hs_err_pid*.log

# Debug test file
/src/test/java/DebugTests.java
