language: java

jdk:
  - oraclejdk11
  - openjdk11

install: 
  # chmod the wrapper to be executable
  - sudo chmod +x ./gradlew
  - ./gradlew --version

script:
  - ./gradlew build --scan -s

# Enable gradle cache
before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

after_success:
  - export SHORT_COMMIT=${TRAVIS_COMMIT:0:7}
  - >
    curl --request 'POST' 
    --header 'Content-Type: text/plain; charset=utf-8' 
    --data "&#9989; The latest commit pushed to **RobotPathfinder** (commit *$SHORT_COMMIT* on branch *$TRAVIS_BRANCH*) has **passed** CI checks on **$TRAVIS_JDK_VERSION**!"
    https://arctos6135.ryver.com/application/webhook/2EnmZwoD1TCAySR

after_failure:
  - export SHORT_COMMIT=${TRAVIS_COMMIT:0:7}
  - >
    curl --request 'POST' 
    --header 'Content-Type: text/plain; charset=utf-8' 
    --data "&#10060; The latest commit pushed to **RobotPathfinder** (commit *$SHORT_COMMIT* on branch *$TRAVIS_BRANCH*) has **failed** CI checks on **$TRAVIS_JDK_VERSION**!" 
    https://arctos6135.ryver.com/application/webhook/2EnmZwoD1TCAySR